@import "tailwindcss";

body {
  @apply bg-[#0a0a0a];
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DMSans.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("./assets/fonts/BricolageGrotesque.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

.font-dmsans {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.font-dmsans-light {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
}

.font-bricolage {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
}

.font-bricolage-light {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 200;
}

:root {
  --marquee-gap: 0.5rem;
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--marquee-gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  gap: var(--marquee-gap);
  padding-right: var(--marquee-gap);
  animation: scroll 100s linear infinite;
}

.mask-gradient {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.mask-gradient {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes scroll-reverse {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.marquee__content.reverse {
  animation-name: scroll-reverse;
}

.marquee-mask {
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

@keyframes spin-once {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-once {
  animation: spin-once 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
